<nav>
    <ul>
        <li><a class="button button-primary" href="#">iTunes</a></li>
        <li><a class="button button-primary" href="#">Spotify</a></li>
        <li><a class="button button-primary" href="#">Anchor button</a></li>
    </ul>

<ul>
    <li><a href="https://podcasts.apple.com/us/podcast/zeroday-podcast/id1575913599">iTunes</a></li> 
    <li><a href="https://open.spotify.com/show/5US5vNx1CYfMNqXkr1y8U3">Spotify</a></li>
    <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9ncmVnb3J5Y29sZW1hbi5naXRodWIuaW8vemVyb2RheS1wb2RjYXN0L3BvZGNhc3QueG1s">Google Podcast</a></li>
</ul> 



    <ul>
        <li><a href="https://podcasts.apple.com/us/podcast/zeroday-podcast/id1575913599">iTunes</a></li> 
        <li><a href="https://open.spotify.com/show/5US5vNx1CYfMNqXkr1y8U3">Spotify</a></li>
        <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9ncmVnb3J5Y29sZW1hbi5naXRodWIuaW8vemVyb2RheS1wb2RjYXN0L3BvZGNhc3QueG1s">Google Podcast</a></li>
    </ul> 
    <ul>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/podcast.xml">RSS</a></li>
    </ul> 
</nav>
